# Python
__pycache__/
*.py[cod]
*.egg-info/
.env
.venv/
env/

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# Datos pesados — no subir al repo
#data/raw/*.csv
#data/processed/*.csv

# OS
.DS_Store
Thumbs.db
